@page
@model Eventmanagement4._0.Pages.items.EditModel

@{
    ViewData["Title"] = "Edit";
}
<br />

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Startseite</a></li>
        <li class="breadcrumb-item"><a href="#">Artikelstammverwaltung</a></li>
        <li class="breadcrumb-item active" aria-current="page">Datensatz bearbeiten</li>
    </ol>
</nav>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="main_items.id" />
            <div class="form-group">
                <label asp-for="main_items.item_name" class="control-label"></label>
                <input asp-for="main_items.item_name" class="form-control" />
                <span asp-validation-for="main_items.item_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="main_items.manufacturer" class="control-label"></label>
                <input asp-for="main_items.manufacturer" class="form-control" />
                <span asp-validation-for="main_items.manufacturer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="main_items.discription" class="control-label"></label>
                <input asp-for="main_items.discription" class="form-control" />
                <span asp-validation-for="main_items.discription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Speichern" class="btn btn-primary" /> | 
                <a class="btn btn-primary" asp-page="Index">Zurück zur Liste</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
