# Dependencies
node_modules/
package-lock.json

# Environment
.env

# Logs
logs
*.log
npm-debug.log*
pids
*.pid
*.seed
*.pid.lock

# Coverage
coverage/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Build
dist/
build/
