@page
@model Eventmanagement4._0.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>contact_person</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="contact_person.ID" />
            <div class="form-group">
                <label asp-for="contact_person.gender" class="control-label"></label>
                <input asp-for="contact_person.gender" class="form-control" />
                <span asp-validation-for="contact_person.gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="contact_person.customer_id" class="control-label"></label>
                <input asp-for="contact_person.customer_id" class="form-control" />
                <span asp-validation-for="contact_person.customer_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="contact_person.first_name" class="control-label"></label>
                <input asp-for="contact_person.first_name" class="form-control" />
                <span asp-validation-for="contact_person.first_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="contact_person.surname" class="control-label"></label>
                <input asp-for="contact_person.surname" class="form-control" />
                <span asp-validation-for="contact_person.surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="contact_person.telephone_number" class="control-label"></label>
                <input asp-for="contact_person.telephone_number" class="form-control" />
                <span asp-validation-for="contact_person.telephone_number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="contact_person.mobile_number" class="control-label"></label>
                <input asp-for="contact_person.mobile_number" class="form-control" />
                <span asp-validation-for="contact_person.mobile_number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="contact_person.land" class="control-label"></label>
                <input asp-for="contact_person.land" class="form-control" />
                <span asp-validation-for="contact_person.land" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="contact_person.mail_adress" class="control-label"></label>
                <input asp-for="contact_person.mail_adress" class="form-control" />
                <span asp-validation-for="contact_person.mail_adress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="contact_person.departmend" class="control-label"></label>
                <input asp-for="contact_person.departmend" class="form-control" />
                <span asp-validation-for="contact_person.departmend" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="contact_person.post_code" class="control-label"></label>
                <input asp-for="contact_person.post_code" class="form-control" />
                <span asp-validation-for="contact_person.post_code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="contact_person.place" class="control-label"></label>
                <input asp-for="contact_person.place" class="form-control" />
                <span asp-validation-for="contact_person.place" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


<div>
    <a asp-page="/customer_base/Details" asp-route-id="@ViewData["customer_number"]" asp-route-customer_search_id=@Html.DisplayNameFor(model => model.contact_person.customer_id)>zurück zur Anischt</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
